@model Model.EF.TbDotthi

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Thêm đợt thi</title>
</head>
<body>
    @section header{
        <h1>
            Thêm đợt thi
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Thêm đợt thi</li>
        </ol>
    }

    @using (Html.BeginForm("Create", "dt", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Thêm đợt thi</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.TenDT)
            </div>
            <div class="row">
                <div class="editor-field">
                    <div class="col-xs-5">
                        @Html.TextBoxFor(model => model.TenDT, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenDT)
                    </div>
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.TrangThai)
            </div>
            <div class="row">
                <div class="editor-field">
                    <div class="col-xs-5">
                        @Html.EditorFor(model => model.TrangThai, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrangThai)
                    </div>
                </div>
            </div>

            <p>
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>