@model Model.EF.TbCapdo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Sửa thông tin cấp độ</title>
</head>
<body>
    @section header{
        <h1>
            Sửa thông tin cấp độ
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Sửa thông tin cấp độ</li>
        </ol>
    }

    @using (Html.BeginForm("Edit","Level",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Nhập thông tin cần sửa</legend>

            @Html.HiddenFor(model => model.MaCD)

            <div class="editor-label">
                @Html.LabelFor(model => model.TenCD)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TenCD, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenCD)
            </div>

            <p>
                <input type="submit" value="Sửa" class="btn btn-primary" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

   </body>
</html>